@using Microsoft.AspNetCore.Identity

@inject SignInManager<DefaultUser> SignInManager
@inject UserManager<DefaultUser> UserManager

<ul class="navbar-nav" style="font-size:20px">
@if (SignInManager.IsSignedIn(User))
{ 
        <li class="nav-item" >
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName</a>
    </li> 
   
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
