@page
@using PickABookWeb.Models;
@model RegisterModel;

@*@{
    ViewData["Title"] = "Register";
}*@

@{
    Layout = null; // or Layout = "";
}

<style>
    body {
        background-image: url("/signupbackground.jpg");
        font-family: Arial, sans-serif;
        background-size: 100% 100%; /* Cover the entire viewport */
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: scroll;
    }

    #account {
        
    
        background-color: #d3d3d3;
        width: 100%;
        /* Limit the maximum width of the form */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
    }
    

    h2 {
        text-align: center;
        color: #333;
    }

    .form-floating {
        margin: 10px;
        position: relative; /* Add this property */
    }

        .form-floating input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: block; /* Center-align the text boxes */
            margin: auto; /* Center-align the text boxes */
        }

    .checkbox label {
        display: flex;
        align-items: center;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: darkred;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: darkred;
        }

    p {
        text-align: center;
    }

    a {
        color: darkred;
        text-decoration: none;
    }
</style>
<body>
    <h1>@ViewData["Title"]</h1>


    <div class="row">
        <div class="col-md-4">
            <section id="account">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Register</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control"  aria-required="true" />

                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" />

                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                
                <div class="form-floating">
                    <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                <div>
                    <p>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Login</a>
                    </p>

                </div>
            </form>
            </section>
        </div>

    </div>

  </body> 

   



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
